@charset "utf-8";
h1  {
	color: #F49712;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
body {
	background-color: #2F2F2F;
}
main {
	float:left;
	min-width: 300px;
	max-width: 60%;
	color: #FFFFFF;
	margin-left: 15px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Announcements {
	float: right;
	max-width: 30%;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: auto;
	padding-top: auto;
	min-width:150px;
	color: orange;
}
table {
	color: white;
}
.Header {
	text-align:center;
}
a {
	border:thin ridge;
	text-decoration:none;
	padding-right: 5px;
	padding-left: 5px;
	color:orange;
	margin-left: 15px;
	border-radius: 25px;
	margin-bottom: 5px;
}
a:hover { 
    background-color: white;
}
nav {
	min-width: 1000px;
}
.white {
	color:white;
	max-width:60%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.scale {
	min-width:850px;
}